<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>组件</title>
    <script src="../vue.js"></script>
  </head>
  <body>

    <p>全局注册组件事例:</p>
    <div id="mycomponent1">
      <my-component1></my-component1>
    </div><br>

    <p>局部注册组件事例:</p>
    <div id="mycomponent2">
      <my-component2></my-component2>
    </div><br>

    <!-- DOM 模板解析注意事项 -->
    <p>DOM 模板解析注意事项:</p>
    <table id="myrow">
      <tr is="my-row"></tr>
    </table>
    <hr>

    <p>data 必须是函数:</p>
    <div id="datafunction">
      <simple-counter></simple-counter>
      <simple-counter></simple-counter>
      <simple-counter></simple-counter>
    </div><br>

    <p>使用 Prop 传递数据:</p>
    <div id="propinfo">
      <child message="hello!"></child>
    </div><br>

    <p>camelCase (驼峰式命名)的 prop 需要转换为相对应的 kebab-case (短横线分隔式命名)：</p>
    <div id="kebab-case">
      <child my-message="hello!"></child>
    </div><br>

    <p>动态 Prop</p>
    <div id="dynamicprop">
      <input v-model="parentMessage">
      <br>
      <child :my-message="parentMessage"></child>
    </div>

    <hr>

    <p>自定义事件</p>
    <div id="counter-event-example">
      <p>{{ total }}</p>
      <button-counter v-on:increment="incrementTotal"></button-counter>
      <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>

    <p>使用自定义事件的表单输入组件</p>
    <div id="customcomponent">
      <currency-input v-model="price"></currency-input>
    </div>

    <p>自定义组件的 v-model</p>
    <div id="model">
      <my-checkbox v-model="foo" value="some value"></my-checkbox>
    </div>


  </body>

  <script>

    // ========== 全局注册组件 ===========

    // 注册一个全局组件 , 要放在根实例前
    Vue.component('my-component1', {
        template: '<div>A Global Component !</div>'
    })
    var mycomponent1 = new Vue({
        el: '#mycomponent1'
    })

    // ========== 局部注册组件 ===========

    // 定义一个 DOM 模版
    var Child = {
        template: '<div>A Local Component !!</div>'
    }
    var mycomponent2 = new Vue({
        el: '#mycomponent2',
        components: {
          'my-component2': Child
        }
    })

    // DOM 模板解析注意事项
    var tr = {
        template: '<tr>这里是个测试 DOM</tr>'
    }
    var myrow = new Vue({
        el: '#myrow',
        components: {
          'my-row': tr
        }
    })

    // data 必须是一个函数
    var data = { counter: 0 }
    Vue.component('simple-counter', {
        template: '<button v-on:click="counter += 1">{{ counter }}</button>',
        data: function () {
          return { counter: 0 }
        }
    })
    var datafunction = new Vue({
        el: '#datafunction'
    })

    // 使用 Prop 传递数据
    Vue.component('child', {
        props: ['message'],
        template: '<span>{{ message }}</span>'
    })
    var propinfo = new Vue({
        el: '#propinfo'
    })

    // camelCase vs. kebab-case
    Vue.component('child', {
        props: ['myMessage'],
        template: '<span>{{ myMessage }}</span>'
    })
    var kebabcase = new Vue({
        el: '#kebab-case'
    })

    // 动态 Prop
    Vue.component('child', {
        props: ['myMessage'],
        template: '<span>{{ myMessage }}</span>'
    })
    var dynamicprop = new Vue({
        el: '#dynamicprop',
        data: {
          parentMessage: 'Hello World'
        }
    })

    // ======== 自定义组件 ========
    // 使用 v-on 绑定自定义事件

    Vue.component('button-counter', {
        template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
        data: function () {
          return { counter: 0 }
        },
        methods: {
          incrementCounter: function () {
            this.counter += 1;
            this.$emit('increment');
          }
        }
    })
    var countereventexample = new Vue({
        el: '#counter-event-example',
        data: {
          total: 0
        },
        methods: {
          incrementTotal: function () {
            this.total += 1;
          }
        }
    })

    // 使用自定义事件的表单输入组件
    Vue.component('currency-input', {
      template: '\
        <span>\
          $\
          <input\
            ref="input"\
            v-bind:value="value"\
            v-on:input="updateValue($event.target.value)"\
          >\
        </span>\
      ',
      props: ['value'],
      methods: {
        // 不是直接更新值，而是使用此方法来对输入值进行格式化和位数限制
        updateValue: function (value) {
          var formattedValue = value
            // 删除两侧的空格符
            .trim()
            // 保留 2 位小数
            .slice(
              0,
              value.indexOf('.') === -1
                ? value.length
                : value.indexOf('.') + 3
            )
          // 如果值尚不合规，则手动覆盖为合规的值
          if (formattedValue !== value) {
            this.$refs.input.value = formattedValue
          }
          // 通过 input 事件带出数值
          this.$emit('input', Number(formattedValue))
        }
      }
    })
    var customcomponent = new Vue({
        el: '#customcomponent',
        data: {
          price: ''
        }
    })

    // 自定义组件的 v-model
    Vue.component('my-checkbox', {
      model: {
        prop: 'checked',
        event: 'change'
      },
      props: {
        checked: Boolean,
        // 这样就允许拿 `value` 这个 prop 做其它事了
        value: String
      },
      // ...
    })




  </script>
</html>
